@model IEnumerable<SistemaVotacion.Modelos.Parroquia>
<br /><br /><br />

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Gestión de Parroquias</h3>
        <a asp-action="CreateParroquia" class="btn btn-success">Nueva Parroquia</a>
    </div>

    <table class="table table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre de Parroquia</th>
                <th>Ciudades</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.NombreParroquia</td>
                        <td>
                            @(item.Ciudad?.NombreCiudad ?? "Sin Ciudad")
                        </td>
                        
                        <td class="text-center">
                            <a asp-action="DeleteParroquia" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>