@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Boletas"
       asp-action="Index"
       class="btn btn-success mt-4">
        Iniciar Votación
    </a>
    <a asp-controller="Acceso"
       asp-action="IngresarCodigo"
       class="btn btn-success mt-10">
        Ingresar codigo 
    </a>
    <a asp-controller="Mesa"
       asp-action="Index"
       class="btn btn-success mt-10">
        Ingresar codigo
    </a>
  
</div>
