@model SistemaVotacion.Modelos.Votante

@{
    ViewData["Title"] = "EditVotante";
}

<h1>EditVotante</h1>

<h4>Votante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditVotante">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
            </div>

            <div class="form-group form-check">
                <input class="form-check-input" asp-for="Estado" />
                <label class="form-check-label" asp-for="Estado"></label>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.Usuarios">
                    <option value="">-- Selecciona un usuario --</option>
                </select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Junta" class="control-label"></label>
                <select asp-for="IdJunta" class="form-control" asp-items="ViewBag.Juntas">
                    <option value="">-- Selecciona una junta --</option>
                </select>
                <span asp-validation-for="IdJunta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListVotantes">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
