name: Build and deploy API to Azure Web App - sistema-votacion-api

on:
  push:
    branches:
      - deply
    paths:
      - "SistemaVotacion.API/**"
      - ".github/workflows/deploy-api.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore API
        run: dotnet restore .\SistemaVotacion.API\SistemaVotacion.API.csproj

      - name: Build API
        run: dotnet build .\SistemaVotacion.API\SistemaVotacion.API.csproj -c Release --no-restore

      - name: Publish API
        run: dotnet publish .\SistemaVotacion.API\SistemaVotacion.API.csproj -c Release --no-build -o ${{ github.workspace }}\publish_api

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-app
          path: ${{ github.workspace }}\publish_api

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api-app
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8C5545B136E14A5B84A4AF61F96A74B7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_AFBF6E50F2FC4B0FA143C24396B8C695 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6F305DDACCAC4BC1AF3B6778A1C3BE5C }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'sistema-votacion-api'
          slot-name: 'Production'
          package: ./publish
